* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a.read-more {
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    margin: 10px 0;
}
a.read-more h4 {
    z-index: 9;
    margin: 3px 0;
    color: snow;
}
a.read-more::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 5px;
    background-color: rgb(52, 39, 169);
    transition: .5s;
    z-index: 1;
    transform: skewX(-25deg);
}
a.read-more:hover::after {
    height: 100%;
    width: 100%;
    right: 100%;
    transform: translateX(100%)skewX(-25deg);
}