* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    position: relative;
    width: 100%;
    background-color: #161616;
}
.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}
.boxes-container,
.text-and-video-container,
.matches-boxes-container,
.best-moments-container  {
    width: 100%;
    padding: 20px 0;
}
ul {
    display: flex;
}
ul li {
    margin: 0 10px;
}
@media (max-width: 730px) {
    section {
        padding: 170px 0 50px 0;
    }
    section.home-section {
        padding: 0 0 50px 0;
    }
}

.about-section-test {
    position: relative;
    padding: 100px 0 30px 0;
}
.about-section-test .text-boxes {
    position: relative;
    width: 50%;
    height: 300px;
    background-color: red;
}
.about-section-test .text-boxes .text-box {
    position: absolute ;
    width: 100%;
    bottom: -200%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transition: .5s;
}
.about-section-test .text-boxes .text-box.active {
    width: 100%;
    height: 100%;
    background-color: red;
    bottom: 0;  
}
@media (max-width: 600px) {
    .about-section-test {
        padding: 100px 0 20px 0;
    }
}
@media (min-width: 10px) and (max-width: 310px) {
    .about-section-test .text-boxes {
        width: 100%;
    }
    .about-section-test .text-boxes .text-box {
        flex-direction: column;
    }
}